// PALETTE

$container-main-color: #CAE8ED;
$container-addition-color: #F2F3FF;
$item-smooth-color: #B3D7DD;
$item-strong-color: #476367;
$item-additional-color: #5C5E68;
$item-accent-color: #AD1818;


$background-light-color: #FBFCFE;
$text-black-color: #1B1C1C;
$text-white-color: #FFF;