@use './colors';

@mixin mobileButton {
    cursor: pointer;
    display: block;
    height: 28px;
    width: 94px;
    font-family: 'Inconsolata';
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    color: colors.$text-white-color;
    border: 1px solid colors.$text-black-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    &:focus {
        outline: 1px solid colors.$text-black-color;
    }
}