@use '../../styles/colors';
@use '../../styles/fonts';
@use '../../styles/components';

.tasks {
    margin-top: 17px;
    padding: 33px 35px;
    &__header {
        @include fonts.mobileHeader;
    }
    &__bg {
        position: absolute;
        top: 133px;
        left: 0;
        z-index: -1;
        background-color: colors.$container-main-color;
        background-size: cover;
        width: 100%;
        height: calc(100vh - 88px);
    }
    &__form {
        &__header {
            margin-top: 72px;
            font-size: 20px;
            font-weight: 500;
            text-align: center;
            margin-bottom: 45px;
        }
        &__wrapper {
            margin-top: 42px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 44px;
            &__info {
                @include components.mobileButton;
                background-color: colors.$item-additional-color;
                border: none;
                box-shadow: none;
                width: 27px;
            }
            &__add {
                @include components.mobileButton;
                background-color: colors.$item-strong-color;
                box-shadow: none;
            }
        }
    }
    &__remove-all {
        margin-bottom: 38px;
        display: flex;
        justify-content: space-between;
        &__text {
            font-size: 10px;
            font-weight: 600;
            padding-right: 20px;
        }
        &__btn {
            @include components.mobileButton;
            background-color: colors.$item-accent-color;
            border: none;
            box-shadow: none;

        }
    }
}